/* src/components/Common/SearchBar.css */
.search-bar-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.search-input {
  width: 100%;
  padding: 12px 15px 12px 45px; /* Mais padding à esquerda para o ícone */
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--card-background);
  color: var(--text-light);
  font-size: 1.1em;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input::placeholder {
  color: var(--text-light);
  opacity: 0.6;
}

.search-input:focus {
  border-color: var(--primary-purple);
  box-shadow: 0 0 0 3px rgba(140, 115, 204, 0.3);
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-purple);
  font-size: 1.2em;
}
